
body{
  zoom: 70%;
}
 .navbar{
    position: static;
    /* top: 10%; */
    color: red;
}
.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
#overlayer {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 7100;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
    }
    .header-area {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        z-index: 9;
      }  
      .header-area .header-top_area {
        padding: 11px 150px;
        background: #232637;
      }
      /* @media (max-width: 767px) {
        /* line 260, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
        .header-area .header-top_area .header_top_wrap {
          display: block !important;
          /* text-align: center; */
        }
      
      
      /* line 265, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap p {
        margin-bottom: 0;
        font-size: 14px;
        color: #ffffff;
      }
      
      /* line 269, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap p span {
        color: #fff;
      }
      
      /* line 271, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap p span i {
        margin-right: 3px;
      }
      
      /* line 278, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap .text_wrap p a {
        color: #fff;
        font-size: 14px;
      }
      
      /* line 283, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap .text_wrap a:last-child {
        margin-left: 30px;
        padding-left: 30px;
        position: relative;
      }
      
      @media (max-width: 767px) {
        /* line 283, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
        .header-area .header-top_area .header_top_wrap .text_wrap a:last-child {
          margin-left: 10px;
          padding-left: 10px;
          position: relative;
        }
      }
      
      /* line 293, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
      .header-area .header-top_area .header_top_wrap .text_wrap a:last-child::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 13px;
        background: #fff;
        content: '';
      }
      .slide-container{
        width: 1280px;
        height: 650px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
      }
      .image-container{
        width:  3840px;
        height: 650px;
        position: relative;
        transition:left 2s;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
      }
      .slider-image{
        float: left;
        margin: 0px;
        padding: 0%;
      }
      .button-container{
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: white;
      }
      #slider-image-1:target ~ .image-container{
        left: 0px;
      }
      #slider-image-2:target ~ .image-container{
        left: -1280px;
      }
      #slider-image-3:target ~ .image-container{
        left: -2560px;
      }

      /* Footer */
    .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* Font Changes */
.font1{
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
}
.font2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}
/* Room */
.card-img-top{
  padding: 10px;
  
}